/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* Fonts */

  @font-face {
    font-family: "Lora";
    src: url(./Lora-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "Roboto-Slab";
    src: url(./RobotoSlab-VariableFont_wght.ttf);
  }

  /* General Text Styling */

  * {
    font-family: "Lora";
    font-size: 10px;
  }

  h1, h2 {
    font-family: "Roboto-Slab";
    letter-spacing: 0.5px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }

  p, li, ol {
    line-height: 1.5;
    letter-spacing: 0.25px;
    word-spacing: 0.4px;
  }

  /* Lists */

  li, ol {
    list-style-type: square;
  }

  h2 + p {
    text-indent: 8px;
  }

  /* Links*/

  a:link, a:visited {
    text-decoration: underline;
  }
  
  a:link {
    color: #a66;
  }

  a:visited {
    color: #693A3A;
  }

  a:hover, a:focus {
    color: #BE8989;
    text-decoration: none;
  }

  a {
    outline: none;
  }

  a:active {
    font-weight: bolder;
  }

  a[href^="https"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    background-size: 100%;
    background-image: url(./external-link-icon.png);
  }

  /* Navigation Menu */
 nav li{
  border: 2.5px solid #a66;
  list-style-type: none;
  padding: 10px 0px;
  text-align: center;
  margin: 10px;
 }

 nav a:link {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
 }

 nav a:hover, nav a:focus {
  color: #BE8989;
 }

 nav a:active {
  font-weight: lighter;
 }