/* General setup */

* {
    box-sizing: border-box;
    font-family: "Lora";
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: "Lora";
    src: url(./Lora-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "Roboto-Slab";
    src: url(./RobotoSlab-VariableFont_wght.ttf);
  }

  h1, h2 {
    font-family: "Roboto-Slab";
  }