/* General setup */

* {
    box-sizing: border-box;
    font-family: "Lora";
    font-size: 10px;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: "Lora";
    src: url(./Lora-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "Roboto-Slab";
    src: url(./RobotoSlab-VariableFont_wght.ttf);
  }

  h1, h2 {
    font-family: "Roboto-Slab";
    letter-spacing: 0.5px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }

  p, li {
    line-height: 1.5;
    letter-spacing: 0.25px;
    word-spacing: 0.4px;
  }

  h2 + p {
    text-indent: 8px;
  }

  a:link, a:visited {
    text-decoration: underline;
  }
  
  a:link {
    color: #a66;
  }

  a:visited {
    color: #693A3A;
  }

  a:hover, a:focus {
    color: #BE8989;
    text-decoration: none;
  }

  a {
    outline: none;
  }

  a:active {
    font-weight: bolder;
  }

  a[href^="https"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    background-size: 100%;
    background-image: url(./external-link-icon.png);
  }