html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
div {
    width: 200px;
    height: 100px;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    font-size: 1.25em; /* First I tested what 18px font looked like and I adjusted the rems value until it looked similar.*/
    background-color: #5f506b;
    color: #BBBCC9;
    text-shadow: 2px 1px black;
    border-radius: 5px;
    border: 1px solid #533747;

    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2) 30% ,rgba(0,0,0,0.2));
    box-shadow: 2px 2px 2px black, inset 2px 2px 5px rgba(255, 255, 255, 0.7), inset -2px -2px 5px rgba(0, 0, 0, 0.7);
}   